HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
# Maven build directory
target/

# Compiled class files
*.class

# JAR files
*.jar
*.war
*.ear

# IDE-specific files (IntelliJ, Eclipse, etc.)
.idea/
*.iml
*.ipr
*.iws

# Eclipse project files
.project
.classpath
.settings/

# VSCode workspace files
.vscode/

# OS-specific files (macOS, Windows)
.DS_Store
Thumbs.db

# Log files
*.log
logs/

# Dependency directories (Maven)
dependency-reduced-pom.xml

# Test Coverage
coverage/

# Local environment variables
.env
.env.local

# Build artifacts
*.tar.gz
*.zip

# Temporary files
*.swp
*.swo
*.bak
*.tmp
*.pid

# Java build-related files
*.sublime-workspace
*.sublime-project

# JDK-related files
*.jdk



### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
node_modules/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
